<div class="schedule-container">
  <div class="schedule-main">
    <!-- Main Schedule Section -->
    <h2>Weekly Schedule
        <small>
          <%= link_to 'pdf', schedule_path(format: :pdf) %>
        </small>
    </h2>

    <div class="schedule-calendar">
      <div class="calendar-row">
        <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"].each_with_index do |day, index| %>
          <div class="calendar-day">
            <h3><%= day %></h3>
            <% @student_sections_by_day[index]&.each do |section| %>
              <div class="calendar-section">
                <div class="calendar-section-header">
                  <strong><%= section.subject %></strong>
                  <%= button_to '✖', destroy_section_path(section), method: :delete %>
                </div>
                <br>
                <span><%= section.starts_at.strftime('%I:%M %p') %> - <%= section.ends_at.strftime('%I:%M %p') %></span><br>
                <span>Teacher: <%= section.teacher_name %></span><br>
                <span>Classroom: <%= section.classroom_name %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Available Sections Pane -->
  <div class="schedule-pane no-print">
    <h2>Available Sections</h2>
    <ul class="available-sections-list">
      <% @available_sections.each do |section| %>
        <li class="available-section-item">
          <strong><%= section.teacher_subject.subject.name %></strong><br>
          Days of week: <%= t section.day_of_week, scope: :day_of_week %><br>
          Time: <%= section.starts_at.strftime('%I:%M %p') %> - <%= section.ends_at.strftime('%I:%M %p') %><br>
          Classroom: <%= section.classroom.name %><br>
          <%= link_to 'Join', join_section_path(section), method: :post, class: 'join-button' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

