<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <span class="no-print">
      <%= render 'sessions/user_switcher' %>

      <%= link_to 'Classes', subjects_path %>
      <%= link_to 'Teachers', teachers_path %>
      <% if @current_user %>
        <%= link_to 'Schedule', schedule_path %>
      <% end %>
      <br>
    </span>
    <%= yield %>
  </body>
</html>
